@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: #7f776f;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0px 80px;
}

.btn {
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.5s ease;
}

/*HEADER*/
header {
  position: relative;
  z-index: 2;
}

header .container {
  display: flex;
  height: 180px;
  align-items: center;
  background-image: url(./img/top.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
}

.header-left {
  flex: 1;
}

.logo-img {
  width: 125px;
  height: 125px;
  padding: 25px;
}

.header-right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 25px;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s ease;
  cursor: pointer;
}

.nav-item:hover {
  color: #fbb570;
}

.busca {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #7f776f;
  border-radius: 20px;
}

.busca input {
  border: none;
  background: transparent;
  padding: 5px;
}

.busca button {
  border: none;
  background: transparent;
}

/*HERO*/
.section1 {
  margin-top: -60px;
}

.section1 .container {
  display: flex;
  background-image: url(./img/back.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 130vh;
}

.section1 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}

.section1 .content h1 {
  font-size: 75px;
  font-weight: 700;
  line-height: 1.1;
  color: #fbb570;
  text-shadow: 1px -1px 5px rgba(0, 0, 0, 0.2);
}

.section1 .content h1 + p {
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-style: italic;
}

.section1 .container button {
  font-size: 15px;
  margin-top: 40px;
  background-color: #fff;
  color: #776c64;
  font-weight: 800;
}

.section1 .container button:hover {
  background-color: #54524f;
  color: #fff;
}

.section1 .container p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 13px;
  font-style: italic;
}

/*section2*/

.section2 {
  margin-top: -90px;
}

.section2 .container {
  background-image: url(./img/bot.png);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.section2 .container .info {
  width: 45%;
  text-align: center;
  padding-top: 150px;
}

.section2 .container .info h2 {
  font-size: 43px;
  color: #fbb570;
  font-weight: 800;
  margin-bottom: 20px;
}

.services-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 70px;
}

.services-item {
  flex: 1;
  background-color: #86786e;
  color: #fff;
  transition: all 0.5s ease;
}

.services-item img {
  width: 100%;
}

.services-info {
  padding: 30px 20px;
  transition: all 0.5s ease;
}

.services-info span {
  font-size: 22px;
  font-weight: 700;
}

.services-info p {
  margin-top: 20px;
  font-weight: 300;
}

.section2 .container button {
  font-size: 17px;
  padding: 10px 60px;
  font-weight: 600;
  background-color: #7f776f;
  color: #fff;
}

/*SECTION 3*/

.section3 {
  margin-top: 80px;
}

.section3 .container {
  display: flex;
  flex-wrap: wrap;
}

.section3 .item {
  flex: 1;
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3 .item:nth-child(2) {
  background-color: #86786e;
}

.section3 .item:nth-child(3) {
  background-color: #fbb570;
}

.section3 .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section3 .item h2,
.section3 .item p,
.section3 .item button {
  margin-bottom: 30px;
  color: #fff;
}

.section3 .item .info {
  width: 70%;
}

.section3 .item .info h2 {
  font-size: 45px;
}

.section3 .item button {
  background-color: #e2a255;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 40px;
}

/*SECTION4*/
.section4 .container {
  background-color: #7f776f;
  background-image: url(./img/top.png), url(./img/bot.png);
  background-size: 100% 100px, 100% 100px;
  background-position: top, bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.section4 .info {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  color: #fff;
  padding: 15px;
}

.section4 .info h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.section4 .info p {
  font-size: 18px;
  margin-bottom: 20px;
}

@media screen and (max-width: 395px) {
  /*HEADER*/
  header .container {
    flex-direction: column;
  }

  .header-right {
    display: none;
  }

  /*HERO*/

  .section1 {
    margin-top: -80px;
  }

  .section1 .container {
    height: 100vh;
    padding: 0 15px;
  }

  .section1 .content {
    width: 100%;
  }

  /*section2*/
  .section2 .container {
    padding: 0 15px;
  }

  .section2 .container .info {
    width: 90%;
    padding-bottom: 0;
  }

  .section2-list {
    flex-direction: column;
    gap: 15px;
    margin-top: -10px;
  }

  /*SECTION*/
  .section3 .container {
    padding: 0;
    flex-direction: column;
  }

  .section3 .item .info {
    width: 100%;
    padding: 25px;
  }

  .section3 .item .info h2 {
    font-size: 35px;
  }

  .section3 .item:nth-child(3) {
    order: 4;
  }

  /*SECTION4*/

  .section4 .container {
    padding: 0;
  }

  .section4 .info {
    width: 90%;
    padding: 0;
  }
}
